<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<title>Admin</title>
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="estilos.css">
		<style>
			.hide {
				display : none;
			}

		</style>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script>
		
			$(document).ready(function() {

				$("form").on("submit", function(e) {
					e.preventDefault();
					
					$.ajax({
					   url : "/infoes",
					   type: 'POST',
					   contentType:  'application/json',
					   data: JSON.stringify( { "titulo" : $("#titulo").val(), "descricao" : $("#descricao").val(),  "link" : $("#link").val(),  "video" : $("#video").val()} ),
					   success : function () {
							$("#msg").removeClass("hide");
					   }
					});
					
				});				
				
			});	
		
		</script>
	</head>
	
	<body>
	
		<h1>wAcessibilidade<span>.com</span></h1>
	
		<nav class="navbar navbar-inverse">
		
			<div class="container-fluid">
	
				<div class="col-md-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/admin">Gerenciar Noticias</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3" style="text-align : right;">
					<span th:inline="text">Bem Vindo: <strong>[[${#httpServletRequest.remoteUser}]]</strong></span>
					<form th:action="@{/logout}" method="post" style="display : inline;">
						<input type="submit" value="Sign Out" class="btn btn-link"/>
					</form>
				</div>	
				
			</div>
		
		</nav>
		
		<div class="container-fluid">
			
			<div class="collapse navbar-collapse" id="myInnerNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/admin">Lista Noticias</a></li>
					<li class="active"><a href="/addInfo">Adicionar Noticia</a></li>
				</ul>
			</div>
			
			<h2>Adicionar Noticia</h2>
			
			<div id="msg" class="hide alert alert-info">
				Noticia adicionada com sucesso!
			</div>
			
			<form method="post" >
				<div class="form-group">
					<label for="titulo">Titulo:</label>
					<input type="text" class="form-control" name="titulo" id="titulo" aria-describedby="tituloHelp" placeholder="Digite o titulo" />
					<small id="tituloHelp" class="form-text text-muted">Digite o titulo</small>
				</div>
				<div class="form-group">
					<label for="descricao">Digite a descricao:</label>
					<textarea class="form-control" id="descricao" rows="10" name="descricao"></textarea>
				</div>
				<div class="form-group">
					<label for="link">Digite a url:</label>
					<input type="text" class="form-control" name="link" id="link" aria-describedby="linkHelp" placeholder="Digite a url" />
					<small id="linkHelp" class="form-text text-muted">Digite a url</small>
				</div>	
				<div class="form-group">
					<label for="video">Digite a url do video:</label>
					<input type="text" class="form-control" name="video" id="video" aria-describedby="videoHelp" placeholder="Digite a url do video" />
					<small id="videoHelp" class="form-text text-muted">Digite a url do video</small>
				</div>					
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>			
			
		</div>
		
	</body>

</html>