<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<title>Admin</title>
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="estilos.css">
		<style>

		</style>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script>
		
			$(document).ready(function() {
				

				$("body").on(".delete", "click", function(e) {
					e.preventDefault();
					var href = $(this).attr("href");
					$.ajax({
					   url : href,
					   type: 'DELETE',
					   success : function () {
							$("#msg").removeClass("hide");
					   }
					});
				});
				
				$.ajax({
				   url : "/infoes",
				   type: 'GET',
				   success : function (e) {
				   
						if (e == null || e._embedded == null || e._embedded.info == null)
						{
							return;
						}
				   
						var infoes = e._embedded.info;
						var $lines = "";
						
						for (var i = 0; i < infoes.length; i++)
						{
							$lines += "<li>" + infoes[i].titulo + "<a class='delete' href="+ infoes[i]._links.info.href +">Deletar</a>";
						}
						
						$("#noticias").html($lines);
				   }
				});								
				
			});	
		
		</script>
	</head>
	
	<body>
	
		<h1>wAcessibilidade<span>.com</span></h1>
	
		<nav class="navbar navbar-inverse">
		
			<div class="container-fluid">
	
				<div class="col-md-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/admin">Gerenciar Noticias</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3" style="text-align : right;">
					<span th:inline="text">Bem Vindo: <strong>[[${#httpServletRequest.remoteUser}]]</strong></span>
					<form th:action="@{/logout}" method="post" style="display : inline;">
						<input type="submit" value="Sign Out" class="btn btn-link"/>
					</form>
				</div>	
				
			</div>
		
		</nav>
		
		<div class="container-fluid">
			
			<div class="collapse navbar-collapse" id="myInnerNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/admin">Lista Noticias</a></li>
					<li class="active"><a href="/addInfo">Adicionar Noticia</a></li>
				</ul>
			</div>
			
			<div id="msg" class="hide alert alert-info">
				Noticia adicionada com sucesso!
			</div>
			
			<ul id="noticias">
				
			</ul>
			
		</div>
		
	</body>

</html>