<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<title>Imagens</title>
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="estilos.css">
		
	</head>
	
	<body>
	
		<nav th:include="fragments/menu-topo" class="navbar navbar-inverse"></nav>
		
		<div class="container-fluid">
			<div class="row content">
				<div th:include="fragments/menu" class="col-md-1 sidenav"></div>	
			
				<!-- Começo -->
			
				<div class="col-md-11">
				
					<h2>Formulários</h2>
					<div>
						<i><a href="https://docs.google.com/document/d/13-M4bsBAE_N6wIvd89IhUjVvOZ-mSbDtjqsfJ3pZ3d0/edit" target="_blank">Resumo</a></i>
						|
						<i><a href="http://www.acessibilidadelegal.com/13-formularios.php" target="_blank">Fonte</a></i>
					</div>

					<div>
					
						<h3>Associar <strong>&lt;label&gt;</strong> com attributo ID</h3>
						<p>
							Recomenda-se fazer a relação adequada dos atributos IDs dos formulários com seus respectivos rótulos,utilizando o elemento &lt;label&gt;.
						</p>
					
						<h3>Usar <strong>alt</strong> para botões do tipo image</h3>
						<p>
							No caso de botões com &lt;input type="img"&gt;, utilize o atributo alt para indicar a ação a ser feita; por exemplo, alt=”enviar formulário”.
							Essa técnica garante que tecnologias assistivas possam relacionar adequadamente os respectivos textos com seu campo de formulário
						</p>
						
						<h3>Agrupar blocos de formulário confome dados utilizando <strong>LEGEND</strong> e <strong>FIELDSET</strong></h3>
						<p>
							
						</p>
						
					</div>					
					
				</div>
					
			</div>
		</div>
	</body>

</html>