<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<title>Imagens</title>
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="estilos.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="scripts.js"></script>
	</head>
	
	<body>
	
		<h1>wAcessibilidade<span>.com</span></h1>
		
		<nav th:include="fragments/menu-topo" class="navbar navbar-inverse"></nav>
		
		<div class="container-fluid">
			<div class="row content">
				<div th:include="fragments/menu" class="sidenav"></div>	
			
				<!-- Começo -->
			
				<div class="main-content">
				
					<h2>Imagens</h2>
					<div>
						<i><a href="https://docs.google.com/document/d/1Q2hhRXGMQlI9pjKX4OKsa7s-le4OA09YPigObp5Xb60/edit?usp=sharing" target="_blank">Resumo</a></i>
						|
						<i><a href="http://www.acessibilidadelegal.com/13-equivalentes.php" target="_blank">Fonte</a></i>
					</div>	
					
					<div>
						
							
						<h3>Equivalente Textual</h3>
						<p>Todas as informações de uma página acessível devem ser apresentadas em texto. Isso significa que, se for usada alguma outra mídia, como imagens e sons, as informações que elas contêm devem ser repetidas numa descrição textual. Essa descrição deve ser "equivalente", isto é, deve transmitir as mesmas informações que os elementos disponibilizados.</p>

						<h3>Atributo <strong>ALT</strong></h3>
						<p>Use o atributo <strong>ALT</strong> para objetos não textuais simples. Deve-se especificar a descrição textual utilizando o atributo HTML "Alt" (alternativo). 
							O texto do atributo ALT deve ser escrito cuidadosamente para que possa fornecer informações equivalentes. 
							Para imagens meramente decorativas que não contêm informações, tais como espaçadores, linhas e enchimentos, usa-se o texto Alt vazio
						</p>
						
						<h3>Fornecimento de uma longa descrição quando o texto Alt não for adequado.</h3>
						<p>O atributo ALT não é útil para explicações complexas demais para serem descritas em poucas palavras. 
							Em casos que a descrição é muito longa deve-se utilizar o atributo HTML <strong>"LONGDESC"</strong> ou um <strong>"D"</strong> link. 
							Essas duas técnicas permitem aos usuários acessarem um texto separado que descreve o contexto. 
							<strong>Longdesc</strong>, embora seja parte da especificação do HTML, não é suportado por grande parte dos navegadores. 
							A técnica alternativa <strong>"D"</strong> link envolve a inserção, além da imagem, de um link apresentado como a letra maiúscula <strong>"D"</strong>. 
							O alvo desse link deve ser uma página web separada com uma longa descrição detalhada para pessoas com deficiência visual. 
							Quando o usuário tiver lido esse texto, ele pode retornar à página com a imagem. <strong>"Longdesc"</strong> significa "longa descrição".
						</p>

					</div>
					
					<div class="conteudo">
						<div class="col-md-12">
							<h3 class="space-large-bottom">Uso do ALT</h3>
							
							<div class="col-md-5">
								
								<img class="center-block" src="img/cachorro.jpg" width="340" height="300" alt="Cachorro correndo com bola na boca">
								
							</div>
							
							<div class="col-md-7">
								
								<pre>

&lt;img src="img/cachorro.jpg" <strong class="red">alt="Cachorro correndo com bola na boca</strong>"&gt;
									
								</pre>
								
							</div>
						</div>
						
						<div class="col-md-12">
						
							<h3 class="space-large-bottom">Texto Longo</h3>
							
							<div class="col-md-5">
								
								<img class="center-block" src="img/grafico.jpg" width="400" height="250" alt="Grafico países mais populosos." title="Grafico países mais populosos." longdesc="#"><br/>
								<a href="#" title="Grafico países mais populosos">D.</a>
								
							</div>
							
							<div class="col-md-7">
								
								<pre>

&lt;img src="img/grafico.jpg" <strong class="red">alt="Grafico países mais populosos."</strong> title="Grafico países mais populosos." <strong class="red">longdesc="#"</strong>&gt;&lt;br/&gt;
<strong class="red">&lt;a href="#" title="Grafico países mais populosos"&gt;D.&lt;/a&gt;</strong>
									
								</pre>
								
							</div>
						</div>	
					</div>
				</div>
					
			</div>
		</div>
	</body>

</html>