<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<title>Sobre</title>
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="estilos.css">
		
	</head>
	
	<body>
	
		<nav th:include="fragments/menu-topo" class="navbar navbar-inverse"></nav>
		
		<div class="container-fluid">
			<div class="row content">
				<div th:include="fragments/menu" class="col-md-1 sidenav"></div>	
			
				<!-- Começo -->
			
				<div class="col-md-11">
				
					<p>Conteudo baseado na fonte: <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/cartilha-w3cbr-acessibilidade-web-fasciculo-I.html" target="_blank">w3c Acessibilidade</a></p>
					
					<p>Fontes para Artigo : </p>
					
					<ul>
						<li><a href="http://liinc.revista.ibict.br/index.php/liinc/article/view/297" target="_blank">Inclusão digital via acessibilidade web</a>
						<li><a href="http://edu3051.pbworks.com/f/ACESSIBILIDADE_WEB_revista_PGIE.pdf" target="_blank">ACESSIBILIDADE À WEB : INTERNET PARA TODOS</a>
						<li><a href="http://www.lbd.dcc.ufmg.br/colecoes/webmedia/2010/30_webmi_c.pdf" target="_blank">Um Modelo para o Desenvolvimento de Aplicações Web Acessíveis</a>
						<li><a href="http://www.teses.usp.br/teses/disponiveis/55/55134/tde-06052008-101644/pt-br.php" target="_blank">Acessibilidade no desenvolvimento de sistemas web: um estudo sobre o cenário brasileiro</a>
						<li><a href="http://compos.org.br/seer/index.php/e-compos/article/viewArticle/144" target="_blank">INCLUSÃO SOCIAL VIA ACESSIBILIDADE DIGITAL: PROPOSTA DE INCLUSÃO DIGITAL PARA PESSOAS COM NECESSIDADES ESPECIAIS</a>
						<li><a href="http://s3.amazonaws.com/academia.edu.documents/38633804/278.pdf?AWSAccessKeyId=AKIAJ56TQJRTWSMTNPEA&Expires=1474489283&Signature=ezgtBy17NZnDaMoEU2yvZKb3A7w%3D&response-content-disposition=inline%3B%20filename%3DDiretrizes_de_acessibilidade_web_um_estu.pdf" target="_blank">Diretrizes de acessibilidade web: um estudo comparativo entre as WCAG 2.0 e o e-MAG 3.0</a>
						<li><a href="http://bogliolo.eci.ufmg.br/downloads/ABSD%20EAcessibilidade%20Inclusao%20Social.pdf" target="_blank">E-acessibilidade e usuários da informação com deficiência</a>
						<li><a href="http://www.scielo.br/pdf/%0D/ci/v33n2/a16v33n2.pdf" target="_blank">Conteúdos digitais multimídia: o foco na usabilidade e acessibilidade</a>
						<li><a href="http://www.br-ie.org/pub/index.php/sbie/article/view/687" target="_blank">Acessibilidade digital para cegos: Um modelo de interface para utilização do mouse</a>
					</ul>
					
				</div>
			</div>
		</div>
	</body>

</html>