<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<title>Sobre</title>
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="estilos.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	</head>
	
	<body>
	
		<h1>wAcessibilidade<span>.com</span></h1>
	
		<nav th:include="fragments/menu-topo" class="navbar navbar-inverse"></nav>
		
		<div class="container-fluid">
			<div class="row content">
			
				<!-- Começo -->
			
				<div class="main-content">
				
					<h2>Acessibilidade na Web</h2>
					
					<p>
						Acessibilidade na Web significa garantir que pessoas com deficiência devem poder usar, acessar e compreender o que é publicado na Web. Considerar o uso de diretrizes internacionais de acessibilidade beneficia um grande grupo de pessoas:
					</p>
					
					<ul>
						<li>Pessoas cegas, que utilizam um software leitor de tela para acessar o conteúdo de uma página;</li>
						<li>pessoas com baixa visão, que necessitam de contraste e fontes maiores;</li>
						<li>pessoas daltônicas que não enxergam um determinado tipo de cor;</li>
						<li>pessoas surdas que não conseguem escutar um áudio na Web;</li>
						<li>pessoas com mobilidade reduzida que utilizam um dedo (ou nem isso) para acessar o conteúdo de uma página Web.</li>
					</ul>
					
					<p>
						Porém, acessibilidade na Web vai muito além de beneficiar somente pessoas com deficiências. Usuários de dispositivos móveis, pessoas com deficiência temporária e  usuários idosos são apenas alguns dos diversos exemplos de usuários que podem ter seu acesso a Web prejudicado se as páginas não forem acessíveis.
					</p>
					
				</div>
			</div>
		</div>
	</body>

</html>